body {
    background-color: #121212;
    color: #eee;
    font-family: 'Arial', sans-serif;
}

a {
    color: #f8c300;
    text-decoration: none;
    display: block;
    margin: 8px 0;
}

#sidebar {
    background: #1e1e1e;
    padding: 10px;
    width: 200px;
    float: left;
    height: 100vh;
}

#main-content {
    margin-left: 220px;
    padding: 20px;
}

button {
    background: #f8c300;
    color: #121212;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ffc600;
}

input {
    padding: 8px;
    margin: 5px 0;
    width: 200px;
}
